body{
    background-color: #8BDDF0 !important;

}

.container-1 {
    background-color:#F7BE81;
    height: 95%;
}
#cuentas {
    display: none; /*para que no muestre de inicio la segunda pantalla*/
}

